<div class='collection'>
  <% @songs.each do |s|%>
    <div class="song" data-id=<%= s.id %>>
      <div class="lt-cover">
        <img class="cover" src=<%= "https://source.unsplash.com/random/300x300?v=" + s.id.to_s %>>
        <div class="info">
          <h2 class="title"><%= s.title %></h2>
          <p class="artist"><%= s.artist %></p>
          <p class="duration"><%= s.duration %></p>
        </div>
      </div>
      <hr />
      <button class="btn modal-trigger" data-target=<%="showModal" + s.id.to_s %>><i class="material-icons left">album</i>Show</button>
      <div id=<%="showModal" + s.id.to_s %> class="modal bottom-sheet">
        <div class="modal-content">
          <h4><%= s.title %></h4>
          <p><%= s.artist %></p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">play</a>
        </div>
      </div>

      <button class="btn"><i class="material-icons left">edit</i>Edit</button>
      <button class="btn" id="delete-song"><i class="material-icons left">clear</i>Delete</button>
        
    </div>
  <% end %>
  
</div>

<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large blue-grey">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <%= link_to new_song_path, class: 'btn-floating green' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">headset</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">help_outline</i></a></li>
  </ul>
</div>