<div class='collection'>
  <% @songs.each do |s|%>
    <div>
      <div class="album lt-cover">
        <img class="cover" src=<%= "https://source.unsplash.com/random/300x300?v=" + s.id.to_s %>>
        <div class="info">
          <h2 class="title"><%= s.title %></h2>
          <p class="artist"><%= s.artist %></p>
          <p class="duration"><%= s.duration %></p>
        </div>
      </div>
      <hr />
      <button class="btn modal-trigger" data-target="showModal"><i class="material-icons">album</i>Show</button>
      <div id="showModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4><%= s.title %></h4>
          <p><%= s.artist %></p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">play</a>
        </div>
      </div>

      <button class="btn"><i class="material-icons">edit</i>Edit</button>
      <button class="btn"><i class="material-icons">clear</i>Delete</button>
    </div>
  <% end %>
  <%= link_to 'Create a new Song', new_song_path %>
</div>