<div class='collection'>
  <% @songs.each do |s|%>
    <div class="album lt-cover">
      <img class="cover" src=<%= "https://source.unsplash.com/random/300x300?v=" + s.id.to_s %>>
      <div class="info">
        <h2 class="title"><%= s.title %></h2>
        <p class="artist"><%= s.artist %></p>
        <p class="duration"><%= s.duration %></p>
      </div>
    </div>
  <% end %>
  <%= link_to 'Create a new Song', new_song_path %>
</div>